@import 'variables.css';

.App {
  position: relative;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  font-family: 'Leckerli One', cursive;
}

.App-topbar {
  display: flex;
  position: relative;
  background-color: var(--app-tp-bg-color);
  align-items: center;
  color: white;
  justify-content: space-between;
  padding-inline: 15px;
  padding-block: 2px;
  /* margin-bottom: 5px; */
  z-index: 10;
}

.App-topbar-buttons {
  display: flex;
  background-color: var(--app-tp-bg-color);
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 10px;
}

.profile-button {
  border-radius: 5px;
  /* width: 47px;
  height: 47px; */
  background-color: transparent;
  color: white;
  font-size: 17px;
  display: flex;
  cursor: pointer;
  border: 2px solid white;
  outline: none;
  padding: 5px;
  margin-left: 10px;
}

.profile-button:hover {
  background-color: #d4e5ef;
}

.create-event-button {
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-color: white;
  color: var(--app-tp-bg-color);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.create-event-button:hover {
  background-color: #d4e5ef;
}
