@import 'variables.css';

.event-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  z-index: 2;
}

.section-separator {
  margin-top: 15px;
  margin-bottom: 15px;
}