
.custom-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border:  groove rgb(0, 0, 0) 1px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #0056b3;
}


.custom2-button {
  background-color: #ec1010;
  color: #ffffff;
  padding: 10px 20px;
  border:  groove rgb(0, 0, 0) 1px;
  border-radius: 80px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom2-button:hover {
  background-color: #ab2525;
}