.SearchBar {
  margin-bottom: 10px;
}
  
.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--tab-txt-color);
  padding: 5px;
  /* border: 2px solid var(--tab-bg-color); */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.filter-button.active {
  color: white;
  background-color: var(--tab-bg-color);
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
}

.input-date-range {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-date-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: default;
  background: transparent;
  z-index: 1;
  pointer-events: none;
}